.card-container .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.card-container .container .card {
    position: relative;
    width: 400px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
  
.card-container .container .card:hover {
    transform: scale(1.1);
}
  
.card-container .container .card .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}
  
.card-container .container .card .circle h3 {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    padding: 60px 0;
}
  
.card-container .container .card .content {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
  
.card-container .container .card .content .features {
    color: #666;
    margin-bottom: 8px;
}
  
.card-container .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}
  
.card-container .container .card:nth-child(1) .circle,
.card-container .container .card:nth-child(1) .content a {
    background: #ffaf00;
}
  
.card-container .container .card:nth-child(2) .circle,
.card-container .container .card:nth-child(2) .content a {
    background: #da2268;
}