#skills , .card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #2c2c2c;
    width: 100%;
    border-radius: 25px;
    margin: 3rem 0 3rem 0;
}

.skills h1{
    /* margin-bottom: 40px; */
    color: white;
}

.skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 50px;
    padding: 3rem;
}


#skills .container .card {
    position: relative;
    width: 200px;
    height: 200px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: 3px 3px 20px #121212, -3px -3px 20px #121212;
}


.container .card .percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.dot {
    position: absolute;
    inset: 1px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr);
}

.container .card .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.container .card .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 5;
    stroke: transparent;
    transform: translate(5px, 5px);
}

.container .card .percent svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span {
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}

.number p {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    #skills, #Achievements{
        margin: 1rem 0;
      }
     
}