#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 15px 25px rgb(0 0 0 / 20%);
  border-radius: 25px;
  margin-bottom: 3rem;
}

.proj-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 6rem 0;
}

.proj-container .card {
  top: 60px;
  background-color: #eeeeee;
  height: 200px;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: top;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
}

.proj-container .card:hover {
  transform: scale(1.08);
}

.card-top {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -70%;
  background-color: #2c3e50;
  display: flex;
  align-items: end;
  padding: 3rem;
  justify-content: center;

}


/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(236, 240, 241, 1.0);
  border-left: 0px solid #2c3e50;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 57, 43, 1.0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2c3e50;
}