/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 0 10px;
 
  z-index: 1;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background:white;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
  
}

.main{
  margin-top: 15%;
}

.header {
  width: 40%;
  padding-left: 8%;
  position: fixed;
  bottom: 0;
  left: 30%;
  height: 30px;
  z-index: var(--z-fixed);
  background-color: rgb(74, 221, 241);
  box-shadow: 10px black;
}

#heading{
  font-size: 25px;
  font-family: Rockwell;
  padding-left: 50px;
  padding-right: 30px;
  text-align: center;
}

/*==================== NAV ====================*/

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  height: 70px;
  width: 100%;
  background: rgb(74, 221, 241);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  height: 60px;
  font-weight: 700;
  list-style: none;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/


/*==================== BUTTONS ====================*/


/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/
.html {
    width: 90%;
    background-color:rgb(247, 247, 115);
}
.css {
    width: 80%;
    background-color: #e7e7e7;
}
.js {
    width: 35%; 
    background-color: #f59089;
}
.php {
    width: 20%;
    background-color: #808080;
}
.c {
    width: 80%;
    background-color: palegreen;
}
.JAVA{
    width: 95%;
    background-color: #7bbdff;
}
.PYTHON{
    width: 80%;
    background-color: rgb(252, 164, 255);
}
.plus {
    width: 70%;
    background-color:rgb(186, 235, 106);
}
.sql {
    width: 60%;
    background-color: rgb(238, 153, 114);
}

/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/

form { max-width:420px; margin:50px auto; }

.contact-me {
  background: white ;
 
  border: 2px solid darkgrey;
  line-height: 22px;
  transition: all 0.3s;
  padding: 16px;
  margin-bottom: -10px;
  width:35%;
  align-items: center;
  margin-left: 33%;
  border-radius: 10px ;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 15px;
  line-height: 22px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: transparent;
  border:2px solid #E0115F;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.feedback-input:hover{
  background-color: #F25278;
}

.feedback-input:focus { border:2px solid #E0115F; }

textarea {
  height: 100px;
  line-height: 150%;
  resize:vertical;
}

.contact1 {
  color: #E0115F;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  outline: 0;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 30%;
  align-items: center;
  position: relative;
  margin-left: 35%;
  background:#E0115F;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#7bbdff;
  width:40%;
  margin-left: 30%;
 }

/*==================== FOOTER ====================*/
.footer-container {
  margin-bottom: -50px;;
  padding:0;
  background-color: #ded2d2;
  background-image: linear-gradient(to right bottom,rgba(128, 128, 128, 0.299),rgba(255, 0, 0, 0.222)),url("https://t3.ftcdn.net/jpg/02/91/65/70/360_F_291657078_Qicf1iAn8AcuvlC9juR8QJvGmiQj69gM.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}

footer ul {
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center ;
}

footer ul li {
  list-style: none;
  margin-bottom: 40px;
}

footer ul li a {

  position: relative;
  width:50px;
  height:50px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: all .3s linear;
}

footer ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transform: scale(1.1);
  text-decoration:none;
}

footer ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(50px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

footer ul li:nth-child(1) a:hover .fab {
  color: blue;
}

footer ul li:nth-child(2) a:hover .fab {
  color: indigo;
}

footer ul li:nth-child(3) a:hover .fab {
  color: #3f729b;
}

footer ul li:nth-child(4) a:hover .fab {
  color: green;
}

footer ul li:nth-child(5) a:hover .fab {
  color: #053eff;
}

footer img{
  height: 22px;
  width: 22px;
}

.copyright
{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    margin: 20px 0 0 0;
}


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
